<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Petition</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link href="https://fonts.googleapis.com/css?family=Nixie+One|Roboto|Roboto+Slab" rel="stylesheet">
    </head>
    <body>
        <div id="container" class="animated zoomIn faster">
            {{{body}}}
        </div>
        <script src="/scripts/wow.min.js"></script>
            <script>
                new WOW().init();
            </script>
    </body>
</html>
