<h1>Welcome to Petition</h1>
<img src="./assets/fireworks.png" alt="fireworks">
<p id="notice" style="visibility:hidden;">Hey, sign the stuff before submitting!</p>
<form id="signForm" method="post">
    <input type="text" name="firstName" id="firstName" value="Andrew" placeholder="First Name">
    <input type="text" name="lastName" id="lastName" value="Xoroz" placeholder="Last Name">
    <input type="hidden" name="sig" id="sig" value="">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
<canvas id="canvSig" width="500" height="80" style="border:1px solid #FFF;"></canvas>
<p>Sign it here!</p>
<button type="button" name="button" id="submit">SUBMIT</button>
<script src="./scripts/sign.js" charset="utf-8"></script>
