<h1>Welcome to Petition</h1>
<h3>{{data.first_name}} {{data.last_name}} </h3>
<img id="symbol" src="./assets/symbol.png" alt="symbol">
<form class="form" method="post">
    <input type="hidden" name="sig" id="sig" value="">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
</form>
<p>Sign it here!</p>
<canvas class="sig" id="canvSig" width="500" height="90" style="border:1px solid #FFF;"></canvas>
<p id="notice" style="visibility:hidden;">Hey, sign the stuff before submitting!</p>
<button type="button" name="button" id="submit" class="button">SUBMIT</button>
<script src="./scripts/sign.js" charset="utf-8"></script>
