<img src="./assets/symbol.png" alt="symbol">
<h1>Please, give us some more info about you.</h1>
<p id="notice" style="visibility:hidden;">Hey, please fill out the forms!</p>
<form id="form" method="post">
    <input type="number" name="age" value="" placeholder="your age">
    <input type="text" name="city" value="" placeholder="city">
    <input type="text" name="homepage" value="" placeholder="homepage url">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" name="button">CONTINUE</button>
</form>
<!-- <button type="button" name="button" id="profile">SIGN UP</button> -->
<!-- <script src="./scripts/login.js" charset="utf-8"></script> -->
