body,
html {
    background-color: crimson;
    /* font-family: monospace; */
    font-family: "Nixie One", cursive;
    width: 100%;
    padding: 0;
    margin: 0;
    /* position: relative; */
}

h1 {
    font-size: 2.4em;
}
h2 {
    font-size: 1.4em;
    padding-bottom: 0.75em;
    margin-bottom: 0;
}
h3 {
    font-family: "Roboto Slab", serif;
    font-size: 1.4em;
}
p {
    font-family: "Roboto Slab", serif;
    font-size: 0.9em;
}

.name,
.age,
.city {
    font-family: "Roboto Slab", serif;
    font-size: 1.1em;
}
a {
    /* color: rebeccapurple; */
    color: darksalmon;
}
#container {
    width: 100%;
    text-align: center;
}

#symbol {
    /* width: 20em; */
    padding: 0.4em;
}

#signers {
    list-style-type: none;
    padding-inline-start: 0;
}

#signers li {
    padding: 0.4em;
}

.signer {
    background-color: beige;
    border-radius: 0.5em;
}

.sig {
    /* border: solid 1px beige; */
    border-radius: 0.4em;
    background-color: beige;
}
.frame {
    border: solid 1px darksalmon;
    border-radius: 0.4em;
    display: inline-block;
    width: auto;
    background-color: crimson;
    padding: 0.6em;
    margin: 0.8em;
}
.line {
    border-bottom: dashed darkred 1px;
}
.form {
}
.form input {
    display: block;
    padding-left: 0.5em;
    margin: 0.5em auto;
    width: 20em;
    height: 2.3em;
    border: solid 1px palevioletred;
    border-radius: 0.4em;
}

.button {
    padding: 0.7em;
    border: solid 1px black;
    border-radius: 0.4em;
    font-weight: 800;
    margin: 0.5em;
}
.h-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
.left-wrap {
    width: 50%;
    float: left;
}
.right-wrap {
    width: 50%;
    float: right;
}
#update {
    float: left;
    margin-left: 4.4em;
}
#delete {
    float: right;
    margin-right: 4.4em;
}
.menu :hover {
    cursor: pointer;
    background-color: beige;
    color: yellow;
}
.menu {
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: darksalmon;
    font-family: "Roboto Slab", serif;
    text-decoration: underline;
    font-size: 1.1em;
    padding: 0.2em 0.6em;
    margin-bottom: 2em;
}
